In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from scipy.io import arff
import copy

In [2]:
data = arff.loadarff('chronic_kidney_disease_full.arff')
data_frame = pd.DataFrame(data[0])
data_frame2 = data_frame.copy()
for i in data_frame.columns:
    if data_frame[i].dtype != 'float64':
        enc = LabelEncoder()
        enc.fit(data_frame[i])
        data_frame2[i] = enc.transform(data_frame[i])

data_frame2.fillna(method='pad', inplace=True)
data_frame2.fillna(method='bfill', inplace=True)
K = data_frame2.iloc[:, :-1].values
L = data_frame2['class'].values
data_frame2.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,3,1,0,0,2,1,1,121.0,...,44.0,7800.0,5.2,2,2,1,1,1,1,0
1,7.0,50.0,3,4,0,0,2,1,1,121.0,...,38.0,6000.0,5.2,1,1,1,1,1,1,0
2,62.0,80.0,1,2,3,2,2,1,1,423.0,...,31.0,7500.0,5.2,1,2,1,2,1,2,0
3,48.0,70.0,0,4,0,2,1,2,1,117.0,...,32.0,6700.0,3.9,2,1,1,2,2,2,0
4,51.0,80.0,1,2,0,2,2,1,1,106.0,...,35.0,7300.0,4.6,1,1,1,1,1,1,0

In [3]:
X_train, X_test, Y_train, Y_test = train_test_split(K, L, test_size=0.20, random_state = 45 )
m_train=X_train.shape[0]
m_test=X_test.shape[0]
#Y_train=Y_train.reshape(Y_train.shape[0],1)
#Y_test=Y_test.reshape(Y_test.shape[0],1)
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(320, 24) (320,) (80, 24) (80,)

In [4]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, Y_train)
y_pred = svclassifier.predict(X_test)

In [5]:
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(Y_test, y_pred, normalize=True)
print("accuracy",acc_score)

accuracy 0.9625

In [6]:
from sklearn.metrics import f1_score
f_score = f1_score(Y_test, y_pred, average='weighted')
print("fmeasure",f_score)

fmeasure 0.962591093117409